# 大文件忽略
10-AI_Dev/11-小智/5、小智AI客户资料/4、源代码/1、1.55版本/2、源代码V1.1.zip
10-AI_Dev/11-小智/5、小智AI客户资料/4、源代码/烧录工具/flash_download_tool_3.9.7.rar
10-AI_Dev/11-小智/5、小智AI客户资料/5、3D打印源文件/1、小四方形的打印文件/安装方法.mp4

# 常见大文件扩展名
*.zip
*.rar
*.7z
*.tar
*.gz
*.mp4
*.avi
*.mov
*.mkv
*.exe
*.dmg
*.iso
